@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400&display=swap");

@layer base {
  body {
    @apply bg-slate-200;
  }
}
body {
  font-family: "Ubuntu Mono", monospace;
}
